/*--------------------ROOT--------------------*/
:root{
    --main-text-blue-color:  #347cdb;
    --main-text-black-color: #212121;
    --main-text-gray-color:  #757575;
    --main-text-white-color:  #ffffff;
   
    --master-button-color: #347cdb;
    --slave-button-color: #757575;
    
}
 

/*--------------------HEADER--------------------*/

.header{
    border-bottom: 2px solid #757575;
  }


.container-header{
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    align-items: center;
   

}
/*Logo*/
.header-logo-web {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    list-style: none;
    text-decoration: none;
    color: #2196F3;
     
}

.header-logo-studio {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    list-style: none;
    text-decoration: none;
    color: #212121;
  
}
/*Navigation*/

.header-nav-list{
    display: flex;
 margin-left: 93px;
}


.header-nav-item + .header-nav-item {
margin-left: 30px;
}

.header-nav-link-active {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2196F3;
  
}

.header-nav-link{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    letter-spacing: 0.02em;

    color: #212121;
  }
  
/*Contact*/
.header-contact-list{
    display: flex;
    margin-left: auto;
}

.header-contact-item + .header-contact-item{
    margin-left: 30px;
}

.header-contact-link-tel{
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
color: #757575;

}

.header-contact-link-mail{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}


.header-contact-link-mail:hover, .header-contact-link-tel:hover {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-text-blue-color);
}

.header-contact-icon{
    margin-left: 15px;
   }

.header-contact-icon:hover,.header-contact-icon:focus {
           
    fill:#2196F3;

} 
/*----------------->BODY<----------------------*/
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    font-family: "Roboto", "sans-serif";

}

.container {
    width: 1200px;

   
    margin: 0 auto;
    box-sizing: border-box;
    
}

/*Disable list for "ul"****/
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.img{
    display: block;
}

/*Button.*/
.button-main{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding: 6px 22px;
display: block;
margin: 0 auto;
  
}

.button-main:hover, .button-main:focus{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background: #F5F4FA;
    border-radius: 4px;
    padding: 6px 22px;
display: block;
margin: 0 auto;   
}

.button{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.62;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #212121;
    background: #F5F4FA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
padding: 6px 22px;
display: block;
margin: 0 auto;


}

.button:hover, button:focus {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding: 6px 22px;
display: block;
margin: 0 auto;
}

/*Project*/

.projects {
    padding-top: 94px;
    padding-bottom: 94px;
}

.projects-button-list{
    display: flex;
    justify-content: center;

}

.projects-button-item + .projects-button-item{
margin-left: 8px;
}

/*OUR PROJECTS*/
.our-projects-list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: -30px;
    padding-left: 15px;
    margin-bottom: -30px;

}

.our-projects-item{
    width: calc(100% / 3 - 30px);
margin-left: 30px;
margin-bottom: 15px;

background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-box;v
 

}


.our-projects-item:focus, .our-projects-item:hover{
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}


.projects-text-h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: #212121;

  
}

.projects-text-p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
   

}


.projects-text-container{
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
/*    outline: 2px solid #2196F3;*/
}


/*----------------->FOOTER<----------------------*/
.footer-logo-web {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    list-style: none;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: #2196F3;

 
 }

.footer-logo-studio {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    list-style: none;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: #ffffff;
}


.footer-text-address {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;

   
}

.footer-text-mail {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    /* identical to box height, or 171% */

    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;

}

.footer-text-tel {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
   
}

.footer{
    padding-top: 60px;
    padding-bottom: 60px;
        background: #2F303A;
}

.container-nav-foter{
    padding-top: 20px;
      
}

/*Scial media*/
.footer-social-media {
    margin-top: -70px;
    padding-left: 300px;
}

.footer-social-media-title{

 
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #FFFFFF;
    padding-bottom: 20px;
}

.footer-social-media-list{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;
    display: flex;
}

..footer-social-media-item{
    
}

.footer-social-media-item + .footer-social-media-item{
    margin-left: 10px;
}

.footer-social-media-link{
    width: 44px;
    height: 44px;

    border-radius: 50%;
    display: flex;
    align-items:center;
    justify-content: center;
    color: #ffffff;
    background-color: #AFB1B8; 
  
}

.footer-social-media-link-active{
    width: 44px;
    height: 44px;

    border-radius: 50%;
    display: flex;
    align-items:center;
    justify-content: center;
    color: #ffffff; 
    background-color: #2196F3;
  
}

.footer-social-media-link-icon{
    fill: currentColor;